@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.buttuns{
    margin: 10px auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

}.btn1{
    width: 200px;
    padding: 20px 30px;
    background-color: #000000;
    border: none;
    font-size: 20px;
    color: white;

}

.btn2{
    width: 200px;
    padding: 20px 30px;
    background-color: #a4161a;
    border: none;
    font-size: 20px;
    color: white; 
}
.btn3{
    width: 200px;
    padding: 20px 30px;
    background-color: #2a9134;
    border: none;
    font-size: 20px;
    color: white; 
}
.btn4{
    width: 200px;
    padding: 20px 30px;
    background-color: #ff6d00;
    border: none;
    font-size: 20px;
    color: white; 
}
.btn5{
    width: 200px;
    padding: 20px 30px;
    background-color: pink;
    border: none;
    font-size: 20px;
    color: white; 
}
.btn6{
    width: 200px;
    padding: 20px 30px;
    background-color: grey;
    border: none;
    font-size: 20px;
    color: white; 
}
.btn7{
    width: 200px;
    padding: 20px 30px;
    background-color: darkblue;
    border: none;
    font-size: 20px;
    color: white; 
}

.btn8{
    width: 200px;
    padding: 20px 30px;
    background-color:olive;
    border: none;
    font-size: 20px;
    color: white; 
}
.btn9{
    width: 200px;
    padding: 20px 30px;
    background-color:skyblue;
    border: none;
    font-size: 20px;
    color: white; 
}
.btn10{
    width: 200px;
    padding: 20px 30px;
    background-color:mediumorchid;
   
    border: none;
    font-size: 20px;
    color: white; 
}
.btn11{
    width: 200px;
    padding: 20px 30px;
    background-color:hotpink;
    border: none;
    font-size: 20px;
    color: white; 
}

.btn12{
    width: 200px;
    padding: 20px 30px;
    background-color:burlywood;
    border: none;
    font-size: 20px;
    color: white; 
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.big-container{
    width: 40%;
    border: 2px solid pink;
    padding: 50px ;
    margin-inline:auto;
    text-align: center;
}

